.heart {
  cursor: pointer;
  background: linear-gradient(to top, #fba194, #f6416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background: linear-gradient(to top, #ff8d7b, #ff3161);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
